.itemDescripcion{
  padding: 8vh;
  padding-bottom: 1vh;
  display: block;
}
.title{
margin: -30% 0 0 5%;
-webkit-transform: translate(-15%, 0%);

}

.imagen-item{
  width: 55%;
}
.appBar{
  height: 10vh;
  background-color: white;
  text-decoration: none;
}
.botones{
  width: 100%;
  position:absolute;
  padding: 3.5vh;
  display: inline;
}
.description{
  width: 40%;
  float: right;
  text-align : center;

}
.historial-header{
  padding: 3vh;
  -webkit-transform: translate(35%,10%);
}
.filtrarFechas{
  padding: 3vh;
  display: inline-block;
  -webkit-transform: translate(90%,8%);
}
#CardSoloItem{
  width: 50%;
  margin-left: 25%;
}
.acordeon{
  padding: 5vh;
}
.contenedorGrid{
  padding: 8vh;
    width: 100%;

}
#CartaComponentes{
  width: 40%;
  top: 5%;
  left: 5%;
}

#Carousel{
  margin-left: 25%;
  margin-top: 15px;
  margin-bottom: 30px;
}

#Carousel-VariablesF{

}
.botonesAdd {
  margin-left: 90%;
  border-width: 1px;
  border-style: solid;
  border-color: #C6C5C5;
}
.botonesAdd > *:first-child  {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.botonesAdd > *:last-child  {
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#HeaderComponentes{
  margin-left: 40%;
  margin-right: 10px;
}
#ButtonCarousel{
  margin-left: 20%;
}

#ButtonBack{
  position: relative;
}
#ButtonNext{
  position: relative;
}

.divid{
width: 100%; /* Line width */
background-color: #CAC9C9; /* Line color */
height: 1px; /* Override in-line if you want specific height. */
float: left; /* Causes the line to float to left of content. You can instead use position:absolute or display:inline-block if this fits better with your design */

}
